services:
  mqtt-broker:
    image: eclipse-mosquitto:2
    container_name: mqtt-broker
    ports:
      - "1883:1883"
    volumes:
      - ./mqtt-broker/mosquitto.conf:/mosquitto/config/mosquitto.conf

  data-storage:
    build: ../services/data-storage
    container_name: data-storage
    volumes:
      - ../data:/app/data
    environment:
      - MQTT_HOST=mqtt-broker
      - MQTT_PORT=1883
    depends_on:
      - mqtt-broker
